@import "../theme.scss";
@import "../utils.scss";

.nav {
    @include flexItemsCenter;
    @include spaceBetween;
    @include paddingLR(5vw);
    background-color: $dark;
    height: 5vw;
    color: $light;
    position: fixed;
    font-family: "Visby semibold";
    letter-spacing: .1vw;
    width: 100%;
    top: 0;
    z-index: 1;

    .mlogo {
        display: none;
    }

    .mlinks {
        display: none;
    }

    img {
        width: 8vw;
        height: max-content;
    }

    ul {
        width: 50vw;
        @include flexContentSpaceEvenly;
        padding: 5vw;


        li {
            // background-color: aqua;
            list-style: none;

            a {
                font-size: 1vw;
                text-decoration: none;
                color: $light;
                width: max-content;
                height: max-content;


                &:hover {
                    color: $primary;
                    transition: all 0.3s ease-in-out;

                }


                transition: all 0.3s ease-in-out;


            }

            .selected {
                color: $primary;
                transition: all 0.3s ease-in-out;
            }

        }

        .contact {
            @include buttonCustom(none, 20px, $primary, $dark);
            @include paddingTBRL(0.5vw, 0.5vw, .8vw, .8vw);
            @include buttonHoverCustom(solid 1px $primary, 20px, $dark, $primary);
            font-size: 1vw;

            transition: all 0.3s ease-in-out;

        }

        .selected_contact {
            @include buttonCustom(solid 1px $primary, 20px, $dark, $primary);
            @include paddingTBRL(0.5vw, 0.5vw, .8vw, .8vw);
            @include buttonHoverCustom(solid 1px $primary, 20px, $dark, $primary);
            font-size: 1vw;


            transition: all 0.3s ease-in-out;

        }
    }


}

@media screen and (max-width: $mobile) {
    .nav {
        height: 10vw;

        .logo {
            display: none;
        }

        .mlogo {
            display: block;
            img {
                width: 20vw;
                height: max-content;
            }
        }


        .links {
            display: none;
        }

        .mlinks {
            display: block;
            img{
                width: 5vw;
                height: max-content;
                margin-right: 10vw;
            }
        }
    }


}