@import "../theme.scss";

.workNumbers {
    color: $light;
    text-align: center;
    margin: 0 10vw;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-gap: 2vw;

    .content {
        display: flex;
        text-align: left;
        align-items: center;

        h1 {
            font-size: 10vw;
            font-family: 'Visby Bold';
            font-weight: 500;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: .1vw;
            color: $dark;

        }

        h2 {
            font-size: 1.5vw;
            font-weight: 500;
            font-family: 'Visby Regular';
            color: $dark;
        }
    }
}

@media screen and (max-width: $mobile) {
    .workNumbers {
        margin-left: 9vw;

        .content {
            
            h2 {
                font-size: 1.8vw;
            }
        }
    }
}