@import "../theme.scss";

.workNumbers {
    color: $light;
    text-align: center;
    padding: 0vw 10vw;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    .content {
        display: flex;
        text-align: left;
        align-items: center;
        gap: 1vw;

        h1 {
            font-size: 10vw;
            font-weight: 500;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: .05vw;
            color: $dark;

        }

        h2 {
            font-size: 1vw;
            font-weight: 500;
            color: $dark;
            width: 2vw;
        }
    }
}