@import "../theme.scss";

.workNumbers {
    color: $light;
    text-align: center;
    margin: 0 10vw;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-gap: 2vw;

    .content {
        display: flex;
        text-align: left;
        align-items: center;
        // 2 columns



        h1 {
            min-width: 26.5vw;
            max-width: 26.5vw;
            font-size: 10vw;
            font-family: 'Visby Bold';
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: .1vw;
            color: $dark;
        }

        h2 {
            font-size: 1.5vw;
            font-family: 'Visby Regular';
            color: $dark;
        }

        &:nth-child(2) {
            h1 {
                min-width: 9.8vw;
                max-width: 9.8vw;
            }
        }

        &:nth-child(3) {
            h1 {
                min-width: 15.5vw;
                max-width: 15.5vw;
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .workNumbers {
        margin-left: 9vw;

        .content {
            h1 {
                min-width: 26.5vw;
                max-width: 26.5vw;
                font-size: 10vw;
                font-family: 'Visby Bold';
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: .1vw;
                color: $dark;
            }

            h2 {
                font-size: 1.5vw;
                font-family: 'Visby Regular';
                color: $dark;
            }

            &:nth-child(2) {
                h1 {
                    min-width: 9.8vw;
                    max-width: 9.8vw;
                }
            }

            &:nth-child(3) {
                h1 {
                    min-width: 16vw;
                    max-width: 16vw;
                }
            }

            h2 {
                font-size: 1.8vw;
            }
        }
    }
}