@import './theme.scss';

.brandowners {
    padding: 5vw 10vw;
    padding-bottom: 0vw;

    h1 {
        font-size: 3.5vw;
        font-weight: 700;
        margin-bottom: 2vw;
        font-family: "Visby Bold"

    }

    p {
        width: 60vw;
        font-size: 1.5vw;
        line-height: 2.1vw;
        font-family: "Visby Regular";
    }

    .brandowners__content {
        margin-top: 8vw;
    }
}

@media screen and (max-width: 768px) {
    .brandowners {
        padding: 10vw 10vw;
        padding-bottom: 0vw;

        h1 {
            font-size: 4vw;
            font-weight: 700;
            margin-bottom: 2vw;
            font-family: "Visby Bold"

        }

        p {
            font-size: 2vw;
            line-height: 3vw;
            font-family: "Visby Regular";
            letter-spacing: 0.1vw;
        }

        .brandowners__content {
            margin-top: 8vw;
        }
    }
}