@import "./theme.scss";

.services {
    padding: 10vw 10vw 0 10vw;

    h2 {
        font-size: 3.5vw;
        margin: 0;
        font-family: "Visby bold";

    }

    .paragraph {
        font-size: 1.5vw;
        font-family: "Visby regular";
        line-height: 2.1vw;
        margin-bottom: 2vw;
        width: 33vw;
    }
}

@media screen and (max-width: $mobile) {
    .services {
        padding: 10vw 10vw 0 10vw;
    
        h2 {
            font-size: 4vw;
            margin: 0;
            font-family: "Visby bold";
    
        }
    
        .paragraph {
            font-size: 2vw;
            font-family: "Visby regular";
            line-height: 2.1vw;
            margin-bottom: 2vw;
            width: 50vw;
        }
    }
    
}